* {
    margin: 0;
}

ul > li {
    margin: 2em;
    display: inline-block;
    width: 4em;
    height: 2em;
    background-color: ivory;
    text-align: center;
}

div {
    background-color: aquamarine;
    border-top: 0;

    height: 5em;
}