/* flex-basis flex-direction: column; 일 경우 height가 된다. 
              flex-direction: row;    일 경우 width가 된다.
*/
body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header { 
    display: flex;
    flex-basis: 100px;
    align-items: flex-end;
    padding: 12px;
    background-color: dodgerblue;
    gap: 12px;
}

#header > div {
    background-color: yellow;
    padding: 12px 0;
    text-align: center;
}

#header > div:first-child {
    flex-basis: 100px;
}

#header > div:last-child {
    flex-grow: 1;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#content {
    padding: 24px;
    background-color: skyblue;
}

#footer {
    flex-basis: 60px; 
    background-color: tomato;
}