.container {
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
}